.module {
    cursor: pointer;
    width: 80%;
    background: #F4F4F4;
    border: 1px solid rgba(30, 30, 30, 0.13);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    // align-items: flex-start;
    text-align: center;
    padding-left: 80px;
    flex-direction: column;
    // min-height: 145px;
    margin: 10px 0;
    padding: 54px 45px 54px 80px
}
.info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.cross {
    transition: .3s;
    cursor: pointer;
}

.text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: rgba(30, 30, 30, 0.8);
}

.content {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    text-align: start;
    max-width: 997px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: rgba(30, 30, 30, 0.8);
}

.plus_mobile {
    display: none;
}
.mobile_info {
    display: none;
}


@media (max-width:430px) {
    .module {
        width: 98%;
        background: #F4F4F4;
        border: 1px solid rgba(30, 30, 30, 0.13);
        border-radius: 10px;
        display: flex;
        text-align: center;
        min-height: 0px;
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        padding-top: 15px;
        justify-content: flex-start;
        padding-bottom: 30px;
    }
    .plus_mobile {
        display: block;
        width: 50px;
        height: 50px;
        transition: .3s
    }
    .mobile_info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;
        
    }
    

    .cross,
    .info {
        display: none;
        // position: absolute;
        // margin-left: 1030px;
        // cursor: pointer;
    }
    .text {
        display: none;
    }

    .text_mobile {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: rgba(30, 30, 30, 0.8);
        text-align: start;
    }

    .content {
        margin-top: 10px;
        display: flex;
        text-align: start;
        width: 100%;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: rgba(30, 30, 30, 0.8);
        margin-bottom: 0px;
    }

}