.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 371px;
    padding: 60px 0 60px 420px;
    width: 100%;
    background-color: #701AC7;
    flex-direction: row;
}

.title {
    width: 430px;
    height: 150px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 143%;
    color: #FFFFFF;
}

.btn {
    margin-top: 20px;
    width: 322px;
    height: 80.5px;
    background: #4BDFDF;
    border-radius: 6.26111px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 21.4667px;
    line-height: 125%;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
}

.check {
    margin-right: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 251px;
    height: 60px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin: 0 20px 40px 20px;
    color: #FFFFFF;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_mobile {
    display: none;
}

@media (max-width:430px) {
    img {
        display: block;
    }

    .title_mobile {
        width: 100%;
        padding: 0 3%;
        height: auto;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .col_mobile {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 32px;
    }

    .container {
        display: none;
    }

    .container_mobile {
        display: block;
    }

    .info_mobile {
        display: flex;
        gap: 18px;
        align-items: center;
    }

    .info_text_mobile {
        width: 50%;
        margin: 0;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 17.6667px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .check_mobile {
        width: 45px;
        height: 45px;
    }

    .container_mobile {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        background-color: #701AC7;
        flex-direction: column;
        padding-top: 37px;
        padding-left: 5px;
        align-items: center;
        padding-bottom: 50px;
    }


    .btn_mobile {
        border: 0px;
        color: #FFFFFF;
        cursor: pointer;

        width: 248px;
        height: 62px;

        background: #4BDFDF;
        border-radius: 4.82222px;

        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16.5333px;
        line-height: 21px;
    }

    // .col {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }


    // .row {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     margin: 20px;
    // }

    // .info {
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     flex-direction: row;
    //     width: 100%;
    //     height: 60px;
    //     font-family: "Gotham Pro";
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 20px;
    //     line-height: 150%;
    //     color: #FFFFFF;
    // }

}