.iti__flag {background-image: url("../../../node_modules/intl-tel-input/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../../../node_modules/intl-tel-input/build/img/flags@2x.png")}
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 0 360px;
    height: 380px;
    width: 100%;
    flex-direction: row;
    background-color: #1E1E1E;
}



.col {
    padding: 57px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 18px;
}

.colum {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.title {
    padding: 14px 0 0 0;
    width: 519px;
    height: 180px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 115%;
    color: #F9F9F9;
}

.info {
    width: 408px;
    height: 90px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #F9F9F9;
}

.input {
    box-sizing: border-box;
    width: 321.26px;
    height: 82.81px;
    background: rgba(249, 249, 249, 0.25);
    border: 0.7px solid rgba(30, 30, 30, 0.15);
    border-radius: 7px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4754px;
    line-height: 19px;
    color: rgba(30, 30, 30, 0.6);
    margin: 9.24px 9.24px 9.24px 0;
    padding: 31px;
}

.email {
    box-sizing: border-box;
    width: 321.26px;
    height: 82.81px;
    background: rgba(249, 249, 249, 0.25);
    border: 0.7px solid rgba(30, 30, 30, 0.15);
    border-radius: 7px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4754px;
    line-height: 19px;
    color: rgba(30, 30, 30, 0.6);
    margin: 9.24px 9.24px 9.24px 0;
    padding: 31px;
}
.input::placeholder {
    color: rgba(249, 249, 249, 0.6)
}
.email::placeholder {
    color: rgba(249, 249, 249, 0.6)
}

.btn {
    width: 321.26px;
    height: 82.81px;
    background: #701AC7;
    border-radius: 10px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #F9F9F9;
    margin: 9.24px 9.24px 9.24px 0;
    border: 0px;
    cursor: pointer;
}

.check {
    display: flex;
    margin: 5.75px 0;
    line-height: 19px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12.3803px;
    line-height: 19px;
    color: rgba(249, 249, 249, 0.8);
}

.checkbox__text {
    display: block;
    padding: 0 0 0 10px;
}

.form_input {
    padding: 10px 0 10px 20px;
}

.checkbox {
    color: rgba(249, 249, 249, 0.15);
    cursor: pointer;
}
@media (min-width: 1095px) and (max-width: 1750px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px 40px;
        min-height: 380px;
        height: auto;
        width: 100%;
        flex-direction: row;
        background-color: #1E1E1E;
    }
    .title {
        padding: 14px 0 0 0;
        max-width: 519px;
        min-height: 180px;
        width: 100%;
        height: 100%;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 115%;
        color: #F9F9F9;
    }
}

@media (min-width: 831px) and (max-width: 1094px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px 40px;
        min-height: 380px;
        height: auto;
        width: 100%;
        flex-direction: row;
        background-color: #1E1E1E;
        flex-direction: row;
    }
    .title {
        padding: 14px 0 0 0;
        max-width: 519px;
        min-height: 180px;
        width: 100%;
        height: 100%;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 115%;
        color: #F9F9F9;
    }
    .btn {
        width: 221.26px;
        height: 82.81px;
        background: #701AC7;
        border-radius: 10px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 125%;
        color: #F9F9F9;
        margin: 9.24px 9.24px 9.24px 0;
        border: 0px;
        cursor: pointer;
    }
    .input {
        box-sizing: border-box;
        width: 221.26px;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.25);
        border: 0.7px solid rgba(30, 30, 30, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(30, 30, 30, 0.6);
        margin: 9.24px 9.24px 9.24px 0;
        padding: 31px;
    }
    .email {
        box-sizing: border-box;
        width: 221.26px;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.25);
        border: 0.7px solid rgba(30, 30, 30, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(30, 30, 30, 0.6);
        margin: 9.24px 9.24px 9.24px 0;
        padding: 31px;
    }
}
@media (min-width: 431px) and (max-width: 830px) {
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 40px;
        min-height: 380px;
        height: auto;
        width: 100%;
        flex-direction: column;
        background-color: #1E1E1E;
    }
    .title {
        padding:0;
        max-width: 519px;
        min-height: 180px;
        width: 100%;
        height: 100%;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 115%;
        color: #F9F9F9;
    }
    .btn {
        width: 221.26px;
        height: 82.81px;
        background: #701AC7;
        border-radius: 10px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 125%;
        color: #F9F9F9;
        margin: 9.24px 9.24px 9.24px 0;
        border: 0px;
        cursor: pointer;
    }
    .input {
        box-sizing: border-box;
        width: 221.26px;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.25);
        border: 0.7px solid rgba(30, 30, 30, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(30, 30, 30, 0.6);
        margin: 9.24px 9.24px 9.24px 0;
        padding: 31px;
    }
    .email {
        box-sizing: border-box;
        width: 221.26px;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.25);
        border: 0.7px solid rgba(30, 30, 30, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(30, 30, 30, 0.6);
        margin: 9.24px 9.24px 9.24px 0;
        padding: 31px;
    }
    .colum {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }
    .form_input {
        padding: 0;
    }
    .col {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 18px;
    }
}


@media (max-width:430px) {
    .form_input {
        padding: 0;
    }
    .container {
        display: block;
        height: 100%;
        padding: 0px 3% 45px 3%;
    }

    .title {
        width: 100%;
        height: auto;

        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;
        color: #F9F9F9;
        margin-bottom: 10px;
    }

    .col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // align-items: center;
        gap: 10px;
        margin-bottom: 22px;
    }

    .colum {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 18px;
        gap: 18px;
        margin-bottom: 18px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 18px;
    }

    .input {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background: rgba(249, 249, 249, 0.25);
        border: 0.7px solid rgba(30, 30, 30, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(249, 249, 249, 0.2);
        margin: 0 auto;
        padding: 31px;

    }

    .email {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background: rgba(249, 249, 249, 0.25);
        border: 0.7px solid rgba(30, 30, 30, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(249, 249, 249, 0.2);
        padding: 31px;
        margin: 0 auto;

    }

    .btn {
        width: 100%;
        height: 75.81px;
        background: #701AC7;
        border-radius: 10px;
        border: 0px;
        color: white;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 27px;
        margin-left: 0px;
        margin: 0 auto;
        cursor: pointer;
    }

    .check {
        margin-top: 0;
        margin-left: 0;
    }
}