

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 360px;
    height: 430px;
    width: 100%;
    flex-direction: row;
    background-color: #701AC7;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.email {
    box-sizing: border-box;
    width: 321.26px;
    height: 82.81px;
    background: rgba(249, 249, 249, 0.05);
    border: 0.7px solid rgba(249, 249, 249, 0.15);
    border-radius: 7px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4754px;
    line-height: 19px;
    color: rgba(249, 249, 249, 0.8);
    margin: 9.24px 9.24px 9.24px 0;
    padding: 31px;
}

.tel {
    // box-sizing: border-box;
    width: 100%;
    height: 82.81px;
    background: rgba(249, 249, 249, 0.05);
    border: 0.7px solid rgba(249, 249, 249, 0.15);
    border-radius: 7px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4754px;
    line-height: 19px;
    color: rgba(249, 249, 249, 0.8);
    // margin: 9.24px 9.24px 9.24px 0;
    // padding: 31px;
}

label {
    width: 321.26px;
    position: relative;
    display: inline-block;
    margin: 10px
}

input[type='tel'] {
    padding-left: 50px;
}

span.icon_search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url(india.svg);
    background-size: 100% 100%;
}

// .email::placeholder {
//     color: #F9F9F9CC;
// }

// .PhoneInputInput {
//     flex: 1;
//     min-width: 0;
//     background-color: #701AC7;
//     border: none;
//     color: #F9F9F9CC !important;
//     outline: none;

// }


.btn {
    width: 321.26px;
    height: 82.81px;
    background: #4BDFDF;
    border-radius: 10px;
    border: 0px;
    color: white;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    margin: 10px;
    cursor: pointer;
}

.form_input {
    padding: 10px 0 10px 20px;
}

.check {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12.3803px;
    display: flex;
    margin: 5.75px 0;
    line-height: 19px;
    color: rgba(249, 249, 249, 0.8);
}

.checkbox {
    cursor: pointer;
}

.checkbox__text {
    display: block;
    padding: 0 0 0 10px;
}

.title,
.apply {
    display: none;
}

@media (min-width: 1080px) and (max-width: 1750px) {
    .card {
        display: none;
    }

    .container {
        padding: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        ;
        height: auto;
        width: 100%;
        flex-direction: row;
        background-color: #701AC7;
    }

    .title {
        margin-bottom: 20px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 78px;
        line-height: 90px;
        /* or 115% */


        color: #F9F9F9;
    }

    .apply {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        /* or 150% */


        color: #ffffffb8;
    }

    .title,
    .apply {
        display: block;
    }
}

@media (min-width: 995px) and (max-width: 1080px) {
    .card {
        display: none;
    }

    .container {
        padding: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        ;
        height: auto;
        width: 100%;
        flex-direction: row;
        background-color: #701AC7;
    }

    .title {
        margin-bottom: 20px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        // line-height: 90px;
        /* or 115% */


        color: #F9F9F9;
    }

    .apply {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        // line-height: 45px;
        /* or 150% */


        color: #ffffffb8;
    }

    .title,
    .apply {
        display: block;
    }
}

@media (min-width: 431px) and (max-width: 995px) {
    .col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    } 
    .tel {
        // box-sizing: border-box;
        width: 100%;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.05);
        border: 0.7px solid rgba(249, 249, 249, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(249, 249, 249, 0.8);
        // margin: 9.24px 9.24px 9.24px 0;
        // padding: 31px;
    }
    
    label {
        width: 221.26px;
        position: relative;
        display: inline-block;
        margin: 10px 10px 10px 0;
    }

    .btn {
        width: 221.26px;
        height: 82.81px;
        background: #4BDFDF;
        border-radius: 10px;
        border: 0px;
        color: white;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 125%;
        margin: 10px 10px 10px 0;
        cursor: pointer;
    }

    .email {
        box-sizing: border-box;
        width: 221.26px;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.05);
        border: 0.7px solid rgba(249, 249, 249, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(249, 249, 249, 0.8);
        margin: 9.24px 9.24px 9.24px 0;
        padding: 31px;
    }

    .card {
        display: none;
    }

    .container {
        padding: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        ;
        height: auto;
        width: 100%;
        flex-direction: row;
        background-color: #701AC7;
    }

    .title {
        margin-bottom: 20px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        // line-height: 90px;
        /* or 115% */


        color: #F9F9F9;
    }

    .apply {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        // line-height: 45px;
        /* or 150% */


        color: #ffffffb8;
    }

    .title,
    .apply {
        display: block;
    }
}

@media (min-width: 431px) and (max-width: 750px) {
    
    .info {
        margin-bottom: 20px;
    }

    .form_input {
        padding: 0
    }

    .col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    .btn {
        width: 221.26px;
        height: 82.81px;
        background: #4BDFDF;
        border-radius: 10px;
        border: 0px;
        color: white;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 125%;
        margin: 10px 10px 10px 0;
        cursor: pointer;
    }

    .email {
        box-sizing: border-box;
        width: 221.26px;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.05);
        border: 0.7px solid rgba(249, 249, 249, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(249, 249, 249, 0.8);
        margin: 9.24px 9.24px 9.24px 0;
        padding: 31px;
    }

    .card {
        display: none;
    }

    .container {
        padding: 70px 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        width: 100%;
        flex-direction: column;
        background-color: #701AC7;
    }

    .title {
        margin-bottom: 20px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        // line-height: 90px;
        /* or 115% */


        color: #F9F9F9;
    }

    .apply {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        // line-height: 45px;
        /* or 150% */


        color: #ffffffb8;
    }

    .title,
    .apply {
        display: block;
    }
}


@media (max-width:430px) {
    .tel {
        // box-sizing: border-box;
        width: 100%;
        height: 82.81px;
        background: rgba(249, 249, 249, 0.05);
        border: 0.7px solid rgba(249, 249, 249, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(249, 249, 249, 0.8);
        // margin: 9.24px 9.24px 9.24px 0;
        // padding: 31px;
    }
    
    label {
        width: 100%;
        position: relative;
        display: inline-block;
    }
    .form_input {
        padding: 0 3%;
    }

    .container {
        display: block;
        height: 100%;
        padding: 35px 0 45px;
    }

    .intl-tel-input {
        width: 100%;
    }

    .card {
        display: none;
    }

    .check {
        padding: 0 3%;
    }

    .title {
        display: block;
        width: 100%;
        padding: 0 3%;
        height: auto;

        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;
        color: #F9F9F9;
        margin-bottom: 10px;
    }

    .apply {
        display: block;
        max-width: 235px;
        height: auto;
        padding: 0 3%;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #F9F9F9;
        margin-bottom: 22px;
    }

    .col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .email {
        box-sizing: border-box;
        width: 100%;
        height: 75.81px;
        background: rgba(249, 249, 249, 0.05);
        border: 0.7px solid rgba(249, 249, 249, 0.15);
        border-radius: 7px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4754px;
        line-height: 19px;
        color: rgba(249, 249, 249, 0.8);
        margin: 10px;
        padding: 31px;
    }


    .btn {
        width: 100%;
        height: 75.81px;
        background: #4BDFDF;
        border-radius: 10px;
        border: 0px;
        color: white;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        margin: 10px 3%;
        line-height: 27px;
        cursor: pointer;
    }
}