.container {
    width: 80%;
    margin: 0 auto 20px;
    padding: 40px 0;
}

.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.contract {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 20px;
}

div {
    font-weight: 200;
}

@media (max-width:430px) {
    .container {
        width: 80%;
        margin: 0 auto 20px;
    }

    .title {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .contract {
        display: flex;
        justify-content: center;
        font-weight: bolder;
        margin-top: 20px;
    }

    div {
        font-weight: 200;
    }
}