.container{
    padding: 20px 250px;
    margin-bottom: 20px;
}

.title{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.contract{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 20px;
}

div{
    font-weight: 200;
}