.container {
    padding: 0 0 0 360px;
    justify-content: center;
    height: 662px;
    width: 100%;
    background-color: #701AC7;
    flex-direction: row;
}
.mentors__wrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
.col {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    height: 408px;
}

.title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 113%;
    color: #F9F9F9;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 88px;
}

.inform {
    width: 519px;
    height: 408px;
}

.info {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 155%;
    color: #F9F9F9;
    margin-top: 30px;
}

.inf {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 155%;
    color: #F9F9F9;
    margin: 40px 0;
}

.line {
    width: 100%;
    background-color: white;
}

.row {
    position: relative;
}

.arrow__right {
    z-index: 90;
    display: flex;
    align-items: center;
    top: 45%;
    right: -46px;
    position: absolute;
    cursor: pointer;
}
.arrow__left {
    z-index: 90;
    top: 45%;
    left: -46px;
    position: absolute;
    cursor: pointer;
}



.swiper {
    width: 600px;
    height: 662px;
}

.swiper_images{
    size: 100%;
    background-position: center;
    overflow: hidden;
}

.row_mobile {
    display: none;
}

@media (min-width: 1250px) and (max-width: 1750px) {
    .inform {
        width: 100%;
        max-width: 519px;
        height: auto;
    }
    // .row {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: row;
    //     margin-right: 88px;
    // }
    .col {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .arrow__right {
        position: static;
        cursor: pointer;
    }
    .arrow__left {
        position: static;
        cursor: pointer;
    }
    .mentors__wrapper {
        max-width: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .container {
        padding: 0 20px;
        justify-content: center;
        height: 662px;
        width: 100%;
        background-color: #701AC7;
        flex-direction: row;
    }
}
@media (min-width: 1085px) and (max-width: 1250px) {
    .row {
        margin-right: 15px;
    }
    .title {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 113%;
        color: #F9F9F9;
    }
    .inform {
        width: 100%;
        max-width: 519px;
        height: auto;
    }
    .col {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .arrow__right {
        position: static;
        cursor: pointer;
    }
    .arrow__left {
        position: static;
        cursor: pointer;
    }
    .mentors__wrapper {
        max-width: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .container {
        padding: 0 20px;
        justify-content: center;
        height: auto;
        width: 100%;
        background-color: #701AC7;
        flex-direction: row;
    }
}

@media (min-width: 431px) and (max-width: 1084px) {
 .row {
        margin-right: 0;
    }
    .title {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 113%;
        color: #F9F9F9;
    }
    .inform {
        width: 100%;
        max-width: 519px;
        height: auto;
    }
    .col {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .arrow__right {
        position: static;
        cursor: pointer;
    }
    .arrow__left {
        position: static;
        cursor: pointer;
    }
    .mentors__wrapper {
        max-width: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container {
        padding: 0 20px;
        justify-content: center;
        height: auto;
        width: 100%;
        background-color: #701AC7;
        flex-direction: row;
    }
}

@media (max-width:430px) {
    
    .inform {
        width: 100%;
        height: auto;
    }
    .col {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 3%;
        height: auto;
        margin-bottom: 46px;
    }
    .mentors__wrapper{
        display: flex;
        align-items: center;
         justify-content: center;
        display: flex;
            align-items: center;
            flex-direction: column;
            
    }
    .container {
        padding: 34px 0 13px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        background-color: #701AC7;
        flex-direction: column;
    }
    .row_mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    .arrow {
        display: block;
        width: 100%;
    }
    .row {
        display: none;
    }
    .title {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 45px;
        color: #F9F9F9;
        width: 100%;

        margin-bottom: 20px;
    }
    .info {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #F9F9F9;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    
    .inf {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #F9F9F9;
        width: 100%;
        margin: 0;
    }
    .line {
        display: none;
    }
   
    
}