.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 69px 360px;
    width: 100%;
    flex-direction: column;
}

.row {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.row1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.col {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.title1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    margin: 60px 0 50px 0;
    font-weight: 700;
    font-size: 80px;
    width: 100%;
    padding: 0 1%;
    line-height: 100px;
    color: #1E1E1ECC;
}

.selection__title {
    color: #701AC7;
}

.info__text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: rgba(30, 30, 30, 0.8);
    line-height: 38px;
    padding: 0 3% 38px 3%;
}

.info_box {
    width: 549px;
    height: 456px;
}

.image__wrapper {
    padding: 0 0 56px 51px;
}

.btn1 {
    width: 446px;
    height: 136px;
    background: #701AC7;
    border-radius: 10px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #F9F9F9;
    border: 0px;
    cursor: pointer;
}

.btn2 {
    width: 378px;
    height: 136px;
    background: #4BDFDF;
    border-radius: 10px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: #F9F9F9;
    border: 0px;
    margin: 20px;
    cursor: pointer;
}

.btn3 {
    width: 337px;
    height: 136px;
    border: 3px solid #701AC7;
    border-radius: 10px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #701AC7;
    cursor: pointer;
}

.diplom_photo,
.row_mobile {
    display: none;
}

@media (min-width: 1000px) and (max-width: 1750px) {


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 69px 0;
        width: 100%;
        flex-direction: column;
    }
    .info_box {
        max-width: 549px;
        width: 100%;
        min-height: 456px;
        height: auto
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0 20px 69px;
        width: 100%;
        flex-direction: column;
    }
}

@media (min-width: 431px) and (max-width: 999px) {
    .image__wrapper {
        padding: 0
    }
    .row {
        max-width: 1200px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 69px 0;
        width: 100%;
        flex-direction: column;
    }
    .info_box {
        max-width: 549px;
        width: 100%;
        min-height: 456px;
        height: auto
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0 20px 69px;
        width: 100%;
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
    .btn1 {
        max-width: 446px;
        width: 100%;
        min-height: 136px;
        height: auto;
        background: #701AC7;
        border-radius: 10px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: #F9F9F9;
        border: 0px;
        cursor: pointer;
        margin: 0 20px 20px 0;
        padding: 20px;
    }
    
    .btn2 {
        max-width: 378px;
        width: 100%;
        height: auto;


        min-height: 136px;
        background: #4BDFDF;
        border-radius: 10px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 40px;
        color: #F9F9F9;
        border: 0px;
        margin: 0 20px 20px 0;
        cursor: pointer;
        padding: 20px;

    }
    
    .btn3 {
        max-width: 337px;
        min-height: auto;
        width: 100%;
        height: 136px;
        border: 3px solid #701AC7;
        border-radius: 10px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: #701AC7;
        cursor: pointer;
        padding: 20px;

    }
}


@media (max-width:430px) {
    .container {
        padding: 0;
    }

    .row_mobile {
        display: block;
        width: 65%;
    }

    .title_mobile_text {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 45px;
        color: #1E1E1ECC;
        margin: 0 3% 20px;
    }

    .procent_mobile {
        color: #701AC7;
    }

    .image {
        display: none;
    }

    .row1 {
        display: none;
    }

    .diplom_photo {
        display: block;
        width: 100%;
    }

    .image__wrapper{
        display: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0 40px 0;
        width: 100%;
        flex-direction: column;
    }

    .col {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        
    }

    .row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .info__text{
        padding: 0 0 0 10px;
    }

    .info_box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 25px;
    }

    .info {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        width: 100%;
        color: rgba(30, 30, 30, 0.8);
    }

    .btn_form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 19px;
        margin: 0 0 89px 0;
    }

    .btn1 {
        width: 96%;
        height: 91.48px;
        background: #701AC7;
        border-radius: 6.72646px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20.1794px;
        line-height: 27px;
        color: #F9F9F9;
        border: 0px;
        cursor: pointer;
        text-align: start;
        padding: 19px;
    }

    .btn2 {
        width: 96%;
        height: 107.94px;
        background: #4BDFDF;
        border-radius: 7.93651px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 21.4286px;
        line-height: 32px;
        color: #F9F9F9;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        text-align: start;
        padding: 24px;

    }

    .btn3 {
        width: 96%;
        height: 121.07px;
        border: 3px solid #701AC7;
        border-radius: 8.90208px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 26.7062px;
        line-height: 36px;
        color: #701AC7;
        cursor: pointer;
        text-align: start;
        padding: 25px;
    }


}
