.container {
    display: flex;
    align-items: flex-start;
    padding: 0 0 0 360px;
    justify-content: center;
    width: 100%;
    z-index: 1;
    flex-direction: column;
}

.title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 85px;
    text-align: center;
    color: rgba(30, 30, 30, 0.8);
    margin-top: 84px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    margin: 0 20px;
}
.arrow__left {
    left: 0;
    z-index: 20;
    position: absolute;

}
.arrow__right{
    right: 0;
    z-index: 20;
    position: absolute;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1241px;
        width: 100%;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1241px;
    width: 100%;
}

.image {
    margin: 58px;
}

.inv {
    cursor: pointer;
    width: 300px;
    height: 79px;
    margin: 20px;
}


.invent {
    height: 217px;
    width: 300px;
}

.arrow {
    cursor: pointer;
}

.swiper {
    text-align: center;
    width: 1235px;
}

.diplomMobile,
.sberMobile,
.hiltonMobile,
.fourMobile,
.x5Mobile,
.ciscoMobile,
.pepsicoMobile {
    display: none;
}

.inv:hover,
.inv1:hover,
.invent:hover,
.sberMobile:hover,
.hiltonMobile:hover,
.fourMobile:hover,
.x5Mobile:hover,
.ciscoMobile:hover,
.pepsicoMobile:hover {
    opacity: 1;
    filter: invert(17%) sepia(50%) saturate(6085%) hue-rotate(267deg) brightness(86%) contrast(99%);
    cursor: pointer;
}
.sberMobile:hover {
    background-color: none;
}

@media (max-width:430px) {

    .inv,
    .inv1,
    .invent,
    .image {
        display: none;
    }


    .row1 {
        max-width: 1246;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .row {
        display: none
    }


    .diplomMobile {
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }

    .sberMobile,
    .hiltonMobile,
    .fourMobile,
    .x5Mobile,
    .ciscoMobile,
    .pepsicoMobile {
        display: block;
        height: auto;
    }

    .fourMobile {
        margin-bottom: 22px;
    }

    .x5Mobile {
        margin-bottom: 10px;
    }

    .pepsicoMobile {
        margin-bottom: 30px;
    }


    .container {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 1;
        flex-direction: column;
        padding-top: 30px;
    }

    .title {
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;
        text-align: start;
        color: rgba(30, 30, 30, 0.8);
        margin-top: 0;
        padding: 0 3%;
        margin-bottom: 40px;
    }

    .col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sberMobile:hover,
    .hiltonMobile:hover,
    .fourMobile:hover,
    .x5Mobile:hover,
    .ciscoMobile:hover,
    .pepsicoMobile:hover {
        opacity: 1;
            filter: invert(17%) sepia(50%) saturate(6085%) hue-rotate(267deg) brightness(86%) contrast(99%);
            cursor: pointer;
    }
}