.cont {
    display: flex;
    width: 100%;
    padding: 0 0 72px 0;
    position: relative;
}

.container {
    padding: 0 0 0 360px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 2;
    flex-direction: column;
}
.container>* {
    width: 100%;
    max-width: 1200px;
}

.image {
    position: absolute;
    height: 100%;
    z-index: 0;
}

.faq {
    display: flex;
    justify-content: flex-start;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    margin: 0;
    padding: 60px 0 40px 0;
    line-height: 77px;
    color: rgba(30, 30, 30, 0.8);
}

@media (max-width:430px) {
    .cont {
        display: flex;
        width: 100%;
        padding: 40px 3% 40px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        z-index: 0;
        margin-left: 0;
        gap: 20px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        z-index: 0;
        margin-left: 0;
    }

    .faq {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 32px;
        color: rgba(30, 30, 30, 0.8);
    }

    .image {
        display: none
    }

}