.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(30, 30, 30, 0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration_form {
    width: 883px;
    height: 500px;
    border-radius: 30px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.title {
    font-family: Gotham Pro;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.tel {
    height: 82px;
    width: 331px;
    border-radius: 7px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border: rgba(30, 30, 30, 0.15);
}



.first_inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.second_inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.name {
    height: 82px;
    width: 331px;
    border-radius: 7px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border: rgba(30, 30, 30, 0.15);
}

.name::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.email {
    height: 82px;
    width: 331px;
    border-radius: 7px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border: rgba(30, 30, 30, 0.15);
}

.btn {
    height: 82px;
    width: 331px;
    border-radius: 7px;
    background-color: #701AC7;
    font-family: Gotham Pro;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    border: #701AC7;
    color: white;
    cursor: pointer;
}



.checkbox__text {
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E99;

}

@media (max-width:430px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-color: rgba(30, 30, 30, 0.8);
        z-index: 10;
    }

    .registration_form {
        width: 300px;
        height: 539px;
        margin: auto;
        margin-top: 110px;
        border-radius: 15px;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    .title {
        font-family: Gotham Pro;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 20px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
    }

    .first_inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .second_inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    .PhoneInput{
        background-color: white;
    }
    .tel {
        height: 69px;
        width: 277px;
        border-radius: 5px;
        font-family: Gilroy;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
        // border: rgba(30, 30, 30, 0.15);
        border: rgba(153, 22, 22, 0.15);
    }

    .name {
        height: 69px;
        width: 277px;
        border-radius: 5px;
        font-family: Gilroy;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
        border: rgba(30, 30, 30, 0.15);
    }

    .email {
        height: 69px;
        width: 277px;
        border-radius: 5px;
        font-family: Gilroy;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
        border: rgba(30, 30, 30, 0.15);
    }

    .btn {
        height: 69px;
        width: 277px;
        border-radius: 5px;

        font-family: Gotham Pro;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;

        border: #701AC7;
        color: white;
        border-color: #701AC7;
        cursor: pointer;
    }

    .checkbox__text {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

        color: #1E1E1E99;

    }
}