.cont {
    height: 870px;
    // margin-left: -67%;
    display: flex;
    background-image: url(./back2.png);
    background-size: cover;
    width: 100%;
    justify-content: flex-end;
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 0 0 0 360px;
    justify-content: center;
    // height: 870px;
    max-width: 1244px;
    width: 100%;
    flex-direction: column;
    z-index: 3;
    // margin-left: 167%;
}
.container * {
    max-width: 622px;
    width: 100%;
}

.img {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.title {
    width: 100%;
    height: auto;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #F9F9F9;
    margin-bottom: 20px;

}

.info {
    width: 100%;
    max-width: 560px;
    height: auto;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #F9F9F9;
    z-index: 3;
    margin-bottom: 30px;

}
.info:last-child {
    margin-bottom: 0;
}

.getDiplom {
    display: none
}



@media (max-width:430px) {
    .cont {
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 25px;
        background: none;
    }

    .img {
        display: none;
    }
    .getDiplom {
        display: block;
        width: 100%;
        height: auto
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        width: 100%;
        flex-direction: column;
        z-index: 3;
        padding: 0 3%;
    }

    .title {
        width: 100%;
        height: auto;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        color: #701AC7;
        margin-bottom: 20px;
    
    }
    .info {
        width: 100%;
        height: auto;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        
        color: rgba(30, 30, 30, 0.8);
        z-index: 0;
        margin-bottom: 0;
    
    }
    .info_block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 23px;
    }
    
}