.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0 60px 360px;
    flex-direction: column;
    height: 1039px;
}

.title {
    // position: absolute;
    // margin-left: -26%;
    // margin-top: -40%;
    max-width: 871px;
    width: 100%;
    height: 170px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    padding: 60px 0 0 0;
    font-size: 75px;
    line-height: 113%;
    color: rgba(30, 30, 30, 0.8);
}

.content {
    max-width: 1200px;
    // height: 747px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
}

.stat {
    width: 100%;
    margin-right: 20px;
}

.stat:last-child {
    margin-right: 0;
}

.first {
    display: flex;
    text-justify: auto;
    text-align: start;
    width: 235px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 54.2045px;
    line-height: 52px;
    padding: 15px 0 0 0;
    color: #701AC7;
    margin-bottom: 25px;
}

.second {
    display: flex;
    text-justify: auto;
    text-align: center;
    width: 223px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 54.2045px;
    padding: 15px 0;
    line-height: 52px;
    color: #4BDFDF;
    margin-bottom: 25px;
}

.jobs1 {
    display: flex;
    text-justify: auto;
    text-align: center;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32.5227px;
    line-height: 31px;
    color: #701AC7;
    opacity: 0.6;
    margin-bottom: 30px;
}

.jobs2 {
    display: flex;
    text-justify: auto;
    text-align: center;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32.5227px;
    line-height: 31px;
    color: rgb(75, 223, 223);
    opacity: 0.6;
    margin-bottom: 30px;
}

.figure1 {
    height: 325px;
    // width: 285px;
    background-color: #4BDFDF;
    border-radius: 21.6818px;
}

.figure2 {
    height: 433px;
    // width: 285px;
    background-color: #701AC7;
    border-radius: 21.6818px;
}

.figure3 {
    height: 542px;
    // width: 285px;
    background-color: #4BDFDF;
    border-radius: 21.6818px;
}

.figure4 {
    height: 650px;
    // width: 285px;
    background-color: #701AC7;
    border-radius: 21.6818px;
}

.footer {
    // margin-right: -50%;
    margin-top: 30px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: flex-end;
    text-align: right;
    color: rgba(30, 30, 30, 0.8);
}

.arrow {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 75%;
}

.end {
    width: 100%;
    height: 41px;
    background-color: #701AC7;
}

@media (max-width:430px) {
    .footer {
        width: 69px;
        height: 8px;
        text-align: right;
        font-size: 8px;
        line-height: 8px;
        color: rgba(30, 30, 30, 0.8);
        margin-left: 62px;
        margin-top: 13px
    }

    .end {
        display: none;
    }

    .job1_img {
        display: block;
        position: static;
        /* left: 8px; */
        /* right: 85%; */
        width: 8px;
        margin-bottom: -6px;
        margin-left: 3px;
    }

    .job2_img {
        display: block;
        position: static;
        /* left: 8px; */
        /* right: 85%; */
        width: 8px;
        margin-bottom: -6px;
        margin-left: 3px;

    }

    .job3_img {
        display: block;
        position: static;
        /* left: 8px; */
        /* right: 85%; */
        width: 8px;
        margin-bottom: -6px;
        margin-left: 3px;
    }

    .arrow {
        width: 20px;
        margin-top: 15px;
        margin-left: 62%;
        padding-top: 10px;
    }


    .job4_img {
        display: block;
        position: static;
        /* left: 8px; */
        /* right: 85%; */
        width: 8px;
        margin-bottom: -6px;
        margin-left: 3px;
    }

    .title {
        position: static;
        width: 100%;
        padding: 0 3%;
        height: auto;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 45px;
        color: rgba(30, 30, 30, 0.8);
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .container {
        padding: 0px 0 60px 0;
        display: flex;
        height: 100%;
    }

    .figure1 {
        height: 144px;
        // width: 72px;
        background-color: #4BDFDF;
        border-radius: 21.6818px;
    }

    .figure2 {
        height: 173px;
        // width: 72px;
        background-color: #701AC7;
        border-radius: 21.6818px;
    }

    .figure3 {
        height: 201px;
        // width: 72px;
        background-color: #4BDFDF;
        border-radius: 21.6818px;
    }

    .figure4 {
        height: 230px;
        // width: 72px;
        background-color: #701AC7;
        border-radius: 21.6818px;
    }

    .content {
        // width: 304px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
        padding: 0 3%;
    }

    .first {
        display: block;
        text-align: center;
        width: auto;
        height: auto;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 14.4545px;
        line-height: 14px;
        color: #701AC7;
        margin-bottom: 6px;
    }

    .second {
        display: block;
        text-align: center;
        width: auto;
        height: auto;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 14.4545px;
        line-height: 14px;
        color: #4BDFDF;
        margin-bottom: 6px;
    }

    .jobs1 {
        display: block;
        text-align: right;
        padding-right: 9px;
        font-family: 'Gotham Pro';
        font-style: normal;
        width: auto;
        height: 8px;
        font-weight: 400;
        font-size: 8.67272px;
        line-height: 8px;
        color: #701AC7;
        opacity: 0.6;
        margin-bottom: 8px;
    }

    .jobs2 {
        display: block;
        text-align: right;
        padding-right: 7px;
        font-family: 'Gotham Pro';
        font-style: normal;
        width: auto;
        height: 8px;
        font-weight: 400;
        font-size: 8.67272px;
        line-height: 8px;
        color: rgb(75, 223, 223);
        opacity: 0.6;
        margin-bottom: 8px;
    }

    .stat {
        width: 100%;
        margin-right: 10px;
    }

}